.yield {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #e4e4e4;
  min-height: 100vh;
  --dm-bg: #111418;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.yield.dark {
  background-color: var(--dm-bg);
  color: white;
}

.yield-cont {
  padding: 1rem;
}
