.notif {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
  min-height: 100vh;
  --dm-bg: #00142e;
}

.title-notif {
  font-size: 3rem;
}
.notif.dark {
  background-color: var(--dm-bg);
  color: white;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
