.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 10px;
  padding: 20px 50px;
}

.content .row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #1c95db9f; */
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s ease;
  /* overflow: hidden; */
}
.content.dark .row {
  background: #232a3153;
}

.content .row.cont h2 {
  margin-top: 0px;
}
.content .row.cont {
  height: 15rem;
  width: 100%;
  grid-column: span 1;
  transition: 0.2s ease;

  /* background: #0e527aca; */
}
.content .row.cont:hover {
  scale: 1.1;
}

.content.dark .row.cont {
  background: #1cdb6500;
}
.content .row.headerTemp {
  height: 100%;
  width: 100%;
  grid-column: span 4;
}
.content .row.squareBags {
  height: 100%;
  width: 100%;
  grid-column: span 2;
}

.content .row.cont .txt-head {
  color: #111418;
  font-size: 1.5vw;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin-bottom: 0px;
}
.content .row.cont .txt-humid {
  color: #046768;
  font-size: 9vh;
}
.content .row.cont .txt-temp {
  font-size: 9vh;
  color: #010f78;
}
.content .row.cont .txt-bags {
  font-size: 9vh;
  color: #047024;
}
.content .row.cont .txt-yield {
  font-size: 9vh;
  color: #113596;
}
.content .row .divider {
  height: 1px;
  width: 35%;
  background-color: #111418;
  margin: 2px 0;
}

.content .row.cont .temperature {
  display: flex;
  padding: 10px 16px;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 50px;
  gap: 15px;
  color: #ffffff;
}

.txt-temp,
.txt-humid,
.txt-yield {
  display: flex;
}
.txt-temp .unit {
  padding-top: 15px;
  font-size: 3vh;
}
.txt-humid .units {
  padding-top: 30px;
  font-size: 3rem;
}
.txt-yield .units {
  padding-top: 30px;
  font-size: 3rem;
}

.content.dark .row .divider {
  background-color: #ffffff;
}
.content.dark .row.cont .txt-humid {
  color: #0be4e8;
}
.content .row.cont .txt-head.temp {
  color: #0be4e8;
}
.content.dark .row.cont .txt-head {
  color: #0be4e8;
}
.content .row.cont .last-monitor {
  color: #38434f;
}

.content.dark .row.cont .txt-temp {
  color: #0be4e8;
}
