.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 10px;
  padding: 20px 50px;
}

.content .row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #1c95db9f; */
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s ease;
  /* overflow: hidden; */
}
.content.dark .row {
  background: #232a3153;
}

.content .row.cont h2 {
  margin: 2px;
}
.content .row.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 100%;
  grid-column: span 1;
  transition: 0.2s ease;

  /* background: #0e527aca; */
}
.content .row.cont:hover {
  scale: 1.1;
}

.content.dark .row.cont {
  background: #79797900;
}
.content .row.cont .txt-head-dash {
  padding-bottom: 0px;
}
.content .row.headerTemp {
  height: 100%;
  width: 100%;
  grid-column: span 4;
  background-color: #d0edfe;
}
.content.dark .row.headerTemp {
  background-color: #21212148;
}
.content .row.squareBags {
  height: 100%;
  width: 100%;
  grid-column: span 2;
  background-color: #d0edfe;
}
.content.dark .row.squareBags {
  background-color: #21212148;
}
.content .row.cont .txt-head {
  color: #111418;
  font-size: 1.5vw;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin-bottom: 0px;
}
.content .row.cont .txt-humid {
  color: #001e45;
  display: flex;
  align-items: center;
  font-size: 7vh;
}
.content .row.cont .txt-temp {
  font-size: 7vh;
  display: flex;
  align-items: center;
  color: #001e45;
}
.content .row.cont .txt-bags {
  font-size: 7vh;
  display: flex;
  align-items: center;
  color: #001e45;
}
.content .row.cont .txt-yield {
  font-size: 7vh;
  display: flex;
  align-items: center;
  color: #001e45;
  /* padding-top: 3rem; */
}
.content .row .divider {
  height: 1px;
  width: 35%;
  background-color: #111418;
  margin: 2px 0;
}
/* .content .row .divider-yield {
  height: 1px;
  width: 35%;
  background-color: #111418;
  margin: 0 0 2.5rem 0;
} */
.content .row.cont .temperature {
  display: flex;
  padding: 10px 16px;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 50px;
  gap: 15px;
  color: #ffffff;
}
.txt-temp .unit {
  /* padding-top: 15px; */
  font-size: 3vh;
}
.txt-humid .units,
.txt-yield .units {
  /* padding-top: 30px; */
  font-size: 3rem;
}

.content.dark .row .divider {
  background-color: #ffffff;
}
.content.dark .row.cont .txt-humid,
.content.dark .row.cont .txt-yield,
.content.dark .row.cont .txt-bags,
.content .row.cont .last-monitor,
.content.dark .row.cont .txt-temp {
  color: #39b7ed;
}

.responsive-icon {
  width: 5rem;
  margin-right: 2px;
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
}
.responsive-icon.yieldIcon {
  width: 3rem;
  margin-right: 4px;
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
}
/* Media query for adjusting the size on smaller screens */
@media (max-width: 600px) {
  .responsive-icon {
    max-width: 60px;
  }
}
