.record {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
  min-height: 100vh;
  --dm-bg: #00142e;
  --lm-c: #ffffff;
}

.title-rec {
  font-size: 3rem;
}
.tableCont {
  flex: 1; /* Occupies 50% of the available space */
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.record .addBags {
  display: flex;

  padding: 0rem 2rem;
}
h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.record.dark {
  background-color: var(--dm-bg);
  color: white;
}
.tableCont {
  width: 80%;
  height: 100%;
  color: #623535;
  margin: 0 auto; /* Add this line to center the table horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .tblCell .btn {
  margin: 10px;
} */
.tableContainer {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.tableRow {
  border-bottom: none !important;
}

.tableCell {
  border-bottom: none !important;
}
.css-1xhypcz-MuiStack-root {
  padding-top: 0 !important;
}
