.record {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #e2e2e2;
  min-height: 100vh;
  --dm-bg: #111;
  --lm-c: #e2e2e2;
}
.cont {
  display: flex;
  height: 100vh; /* Adjust the height as needed */
  align-items: flex-start; /* Aligns the items at the top */
}

.tableCont {
  flex: 1; /* Occupies 50% of the available space */
}

.inputCont {
  flex: 1; /* Occupies 50% of the available space */
  padding: 1rem; /* Add padding as desired */
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.record .addBags {
  display: flex;

  padding: 0rem 2rem;
}
h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.record.dark {
  background-color: var(--dm-bg);
  color: white;
}
.tableCont {
  width: 80%;
  height: 100%;
  color: #623535;
  margin: 0 auto; /* Add this line to center the table horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .tblCell .btn {
  margin: 10px;
} */
.css-1yhpg23-MuiTableCell-root {
  padding: 4px !important;
  font-size: 20px !important;
}
.css-10jgtrz-MuiTableCell-root {
  /* padding: ; */
}
